body {
    margin: 0;
    padding: 0;
}

#bob{
    width: 100vw;
    height: 100vh;
    background-color: lightblue; /* Optional: just to make the div visible */
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */

}

.box {
    border: solid black 1px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: red;
    height: 10vh;
    width: 10vw;    
    display: inline-flex;
    margin-right: -4px;
    margin-bottom: -4px;
    transition: .25s;

}

.box:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.40);
    z-index: 999;
    position: relative;
}

